<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lesson_5_hw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A7854D11F4F0519007F75F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A7854EA1F4F051A007F75F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A7854F51F4F051A007F75F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
